/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    /*! top: 50px; */
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(26, 24, 22, 0.85);
 }
 
 #header.header-transparent {
   /*! background: transparent; */
 }
 
 #header.header-scrolled {
   top: 0;
   background: rgba(26, 24, 22, 0.85);
 }
 
 #header .logo h1 {
   font-size: 28px;
   margin: 0;
   line-height: 1;
   font-weight: 400;
   letter-spacing: 3px;
 }
 
 #header .logo h1 a,
 #header .logo h1 a:hover {
   color: #fff;
   text-decoration: none;
 }
 
 #header .logo img {
   padding: 0;
   margin: 0;
   max-height: 40px;
 }
body{
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("../img/slide/slide-11.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}
.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}
.blue-text{
    color: #00BCD4
}
.form-control-label{
    margin-bottom: 0
}
input, textarea, select, button{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}
input:focus, select:focus, textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}
.btn-block{
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;cursor: pointer
}
.btn-block:hover{
    color: #fff !important
}
button:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}