{% load static %}
<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> User | Buat Menu </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="{% static 'assets/css/bootstrap-select.min.css'%}" rel="stylesheet" />    
    <link href="{% static 'assets/css/style5.css'%}" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div class="logo me-auto">
        <h1><a>Buat Menu</a></h1>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
    </header>
<main style="padding-top: 95px;">
  <div class="container">
    <div class="title">Buat Menu</div>
    <div class="content">
        <form id = "data_personal_form" class="form-card" method="post" action="{% url 'submit' %}">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nama Pasien</span>
            <input name="nama" id="nama">
          </div>
          <div class="input-box">
            <span class="details">Aktivitas</span>
            <select id="tingkat_aktivitas" name="tingkat_aktivitas" multiple data-live-search="true" required>
                {% for aktivitas in tingkat_aktivitas %}  
                <option value="{{ aktivitas.kategori }}">{{ aktivitas.nama_kegiatan}}</option>
                {% endfor %}  
            </select>
          </div>
          <div class="input-box">
            <span class="details">Berat Badan (kg)</span>
            <input type="text" id="berat_badan" name="berat_badan" placeholder="" required>
            <p id="errorberatbadan" style="color: red;"></p>
          </div>
          <div class="input-box">
            <span class="details">Penyakit Penyerta</span>
            <select id="penyakit_penyerta" name="penyakit_penyerta" required>
                <option value="" selected>Pilih Penyakit Penyerta</option>
                <option value="0">Tidak ada</option>
                <option value="1">Kolesterol dalam darah yang tinggi</option>
                <option value="2">Komplikasi pembuluh darah</option>
                <option value="3">Diabetes Lebih dari 15 tahun</option>
                <option value="4">Stroke</option>
                <option value="5">Jantung Koroner</option>
                <option value="6">Infark jantung</option>
                <option value="7">Penyakit pembuluh arteri perifer oklusif</option>
                <option value="8">Gangren</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Tinggi Badan (cm)</span>
            <input type="text" id="tinggi_badan" name="tinggi_badan" placeholder="" required>
            <p id="errortinggibadan" style="color: red;"></p>
          </div>

          <div class="input-box">
            <span class="details">Alergi</span>
            <select id="alergi" name="alergi" placeholder="Ketik untuk mencari..." multiple data-live-search="true" required>
                <option value="tidak_ada" selected>Tidak Ada</option>
                {% for makanan in data_makanan %}  
                <option value="{{ makanan.id }}">{{makanan.nama}}</option>
                {% endfor %}  
            </select>
          </div>
          <div class="input-box">
            <span class="details">Usia (tahun)</span>
            <input type="text" id="usia" name="usia" placeholder="" required >
            <p id="errorusia" style="color: red;"></p>
          </div>
          <div class="input-box">
            <span class="details">Makanan Yang Tidak Disuka</span>
            <select id="makanan_tidak_suka" name="makanan_tidak_suka" placeholder="Ketik untuk mencari..." multiple data-live-search="true" required> 
                <option value="tidak_ada" selected>Tidak Ada</option>
                {% for makanan in data_makanan %}  
                <option value="{{ makanan.id }}">{{makanan.nama}}</option>
                {% endfor %}  
            </select>
          </div>
          <div class="input-box">
            <span class="details">Jenis Kelamin</span>
            <select id="jenis_kelamin" name="jenis_kelamin" required>
                <option value="" selected>Pilih Jenis Kelamin</option>
                <option value="l">Laki-Laki</option>
                <option value="p">Perempuan</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Kategori Harga</span>
            <select id="kategori_harga" name="kategori_harga">
                <option value="" selected>Pilih semua</option>
                <option value="1">kurang dari 36.000/kg</option>
                <option value="2">36.000/kg - 80.000/kg</option>
                <option value="3">lebih dari 80.000/kg</option>
            </select>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Save">
        </div>
      </form>
    </div>
  </div>
</main>
</body>
  <script>
    $(document).ready(function() {
        $("#makanan_tidak_suka").selectpicker();
    });

    $(document).ready(function() {
        $("#alergi").selectpicker();
    });

    $(document).ready(function() {
        $("#tingkat_aktivitas").selectpicker();
    });

    const beratbadan  = document.getElementById("berat_badan");
    const tinggibadan = document.getElementById("tinggi_badan");
    const usia        = document.getElementById("usia");

    const eberatbadan  = document.getElementById("errorberatbadan");
    const etinggibadan = document.getElementById("errortinggibadan");
    const eusia        = document.getElementById("errorusia");
    beratbadan.addEventListener("input", function() {
      const beratbadanValue = beratbadan.value;
      if (/^\d*\.?\d*$/.test(beratbadanValue)) {
        eberatbadan.textContent = "";
      } else {
        eberatbadan.textContent = "Hanya berupa angka. Contoh 1.5";
      }
    });

    
    tinggibadan.addEventListener("input", function() {
      const tinggibadanValue = tinggibadan.value;
      if (/^\d*\.?\d*$/.test(tinggibadanValue)) {
        etinggibadan.textContent = "";
      } else {
        etinggibadan.textContent = "Hanya berupa angka. Contoh 1.5";
      }
    });

    usia.addEventListener("input", function() {
      const usiaValue = usia.value;
      if (/^\d*\.?\d*$/.test(usiaValue)) {
        eusia.textContent = "";
      } else {
        eusia.textContent = "Hanya berupa angka. Contoh 1.5";
      }
    });

    const form = document.getElementById("data_personal_form"); 
    form.addEventListener("submit", function(event) {
    const beratbadanValue = beratbadan.value;
    const tinggibadanValue = tinggibadan.value;
    const usiaValue = usia.value;

    if (!/^\d*\.?\d*$/.test(beratbadanValue)) {
        event.preventDefault();
        Swal.fire('', "Masukkan berat badan dalam format angka yang valid. Contoh: 1.5", 'error');
    }

    if (!/^\d*\.?\d*$/.test(tinggibadanValue)) {
        event.preventDefault();
        Swal.fire('',"Masukkan tinggi badan dalam format angka yang valid. Contoh: 1.5", 'error');
    }

    if (!/^\d+$/.test(usiaValue)) {
        event.preventDefault();
        Swal.fire('',"Masukkan usia dalam format angka yang valid. Contoh: 30", 'error');
    }
});

  </script>
</html>
