{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Diat App - Form</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
  
  
</head>

<body>
  <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h1 style="font-family: 'Satisfy', sans-serif; font-size: 50px; margin: 0; line-height: 1; font-weight: 900; letter-spacing: 3px; color: #f1c905;">Buat Menu</h1>
            <div class="card">
                <h5 class="text-center mb-4"></h5>
                <form class="form-card" onsubmit="event.preventDefault()">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nama<span class="text-danger"> *</span></label> <input type="text" id="nama" name="nama" placeholder="Nama" onblur="validate(1)"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Jenis Kelamin<span class="text-danger"> *</span></label>
                            <select id="jenis_kelamin" name="jenis_kelamin">
                                <option value="l">Laki-Laki</option>
                                <option value="p">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Berat Badan (kg)<span class="text-danger"> *</span></label> <input type="text" id="berat_badan" name="berat_badan" placeholder="" onblur="validate(3)"> </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Tinggi Badan (cm)<span class="text-danger"> *</span></label> <input type="text" id="tinggi_badan" name="tinggi_badan" placeholder="" onblur="validate(4)"> </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Usia (tahun)<span class="text-danger"> *</span></label> <input type="text" id="usia" name="usia" placeholder="" onblur="validate(4)"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tingkat Aktivitas<span class="text-danger"> *</span></label> 
                            <select id="tingkat_aktivitas" name="tingkat_aktivitas">
                                <option value="1">Sangat Ringan</option>
                                <option value="2">Ringan</option>
                                <option value="3">Sedang</option>
                                <option value="4">Berat</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Penyakit Yang Menyertai<span class="text-danger"> *</span></label> 
                            <select id="tingkat_aktivitas" name="tingkat_aktivitas">
                                <option value="1">Kolesterol dalam darah yang tinggi</option>
                                <option value="2">Komplikasi pembuluh darah</option>
                                <option value="3">Diabetes Lebih dari 15 tahun</option>
                                <option value="4">Stroke</option>
                                <option value="4">Jantung Koroner</option>
                                <option value="4">Infark jantung</option>
                                <option value="4">Penyakit pembuluh arteri perifer oklusif</option>
                                <option value="4">Gangren</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-6 flex-column d-flex"> <label class="form-control-label px-3">Makanan yang tidak disuka<span class="text-danger"></span></label> 
                            <input id="makanan_tidak_suka" name="makanan_tidak_suka" list="datalistOptions" placeholder="Ketik untuk mencari..."> 
                            <datalist id="datalistOptions">
                                <option value="San Francisco">
                                <option value="New York">
                                <option value="Seattle">
                                <option value="Los Angeles">
                                <option value="Chicago">
                              </datalist>
                        </div>
                        <div class="form-group col-6 flex-column d-flex"> <label class="form-control-label px-3">Alergi<span class="text-danger"></span></label> 
                            <input id="alergi" name="alergi" list="datalistOptions" placeholder="Ketik untuk mencari...">
                            <datalist id="datalistOptions">
                                <option value="San Francisco">
                                <option value="New York">
                                <option value="Seattle">
                                <option value="Los Angeles">
                                <option value="Chicago">
                              </datalist>
                            </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Kategori Harga makanan<span class="text-danger"></span></label> 
                            <select id="kategori_harga" name="kategori_harga">
                                <option value="1">Pilih semua</option>
                                <option value="2">Murah</option>
                                <option value="3">Sedang</option>
                                <option value="4">Mahal</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="button" onclick="redirectToURL()" class="btn-block btn-primary">Buat Menu</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
  function validate(val) {
    v1 = document.getElementById("fname");
    v2 = document.getElementById("lname");
    v3 = document.getElementById("email");
    v4 = document.getElementById("mob");
    v5 = document.getElementById("job");
    v6 = document.getElementById("ans");

    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;

    if(val>=1 || val==0) {
        if(v1.value == "") {
            v1.style.borderColor = "red";
            flag1 = false;
        }
        else {
            v1.style.borderColor = "green";
            flag1 = true;
        }
    }

    if(val>=2 || val==0) {
        if(v2.value == "") {
            v2.style.borderColor = "red";
            flag2 = false;
        }
        else {
            v2.style.borderColor = "green";
            flag2 = true;
        }
    }
    if(val>=3 || val==0) {
        if(v3.value == "") {
            v3.style.borderColor = "red";
            flag3 = false;
        }
        else {
            v3.style.borderColor = "green";
            flag3 = true;
        }
    }
    if(val>=4 || val==0) {
        if(v4.value == "") {
            v4.style.borderColor = "red";
            flag4 = false;
        }
        else {
            v4.style.borderColor = "green";
            flag4 = true;
        }
    }
    if(val>=5 || val==0) {
        if(v5.value == "") {
            v5.style.borderColor = "red";
            flag5 = false;
        }
        else {
            v5.style.borderColor = "green";
            flag5 = true;
        }
    }
    if(val>=6 || val==0) {
        if(v6.value == "") {
            v6.style.borderColor = "red";
            flag6 = false;
        }
        else {
            v6.style.borderColor = "green";
            flag6 = true;
        }
    }

    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;

    return flag;
}

function redirectToURL() {
            window.location.href = "{% url 'menupage' %}";
    }

</script>
</html>